/* ========== MAIN ========== */
main {
    margin: 8rem 20rem ;
    background: var(--color-white);
    padding: var(--card-padding);
    width: 40rem;
  
  }
  h2{
    text-align: center;
    margin-bottom: 2rem;
  }
  
  * {
    box-sizing: border-box;
  }

textarea {
    width: 100%;
    height: 4rem;
    background: var(--color-bg3);
}
 
.list__table {
    display: none;
}

  
.table {
    border-collapse: collapse;
    width: 100%;
    border: .1rem solid var(--color-black);
    
}

.table th,
.table td {
    text-align: center;
    padding: .8rem;
}

.table tr {
    border-bottom: .1rem solid var(--color-black);
}


.table tr.header,
.table tr:hover {
    background-color: var(--color-bg5);
}

.btn-primary {
    margin: 1rem auto; 
    display: block; 
    text-align: center; 
}
