/* ========== BUTTON ========== */

.btn-signout {
    margin-right: -10rem ;
    background-color: var(--color-light);
    border-radius: 2rem;
    padding: .8rem;
}
/* ========== ADMIN CONTAINER ========== */

.sidenav__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%; 
    background: var(--color-bg1);
    padding: 4rem;
    gap: 2rem;
    margin: 7rem auto;    
    border-radius: 1rem;
}


/* ========== LEFT SIDE CONTAINER ========== */
.sidenav__left{
    margin-top: -60rem;
}
.sidenav__left a {
    background:  var(--transition);
    transition: var(--transition);
    
}

.sidenav__left a:hover{
    color: var(--color-bg2);

}

.side__title1{
    text-align: center;
    background-color: var(--color-bg3);
    width: max-content;
    border-radius: .8rem; 
    color: var(--color-black);
    margin-left: 10rem;
}

.sidenav__menu {
    margin-top: 5rem;
    padding-top: 0;
    display: inline-block;
    text-align: left;
    margin-right: 22rem;
}


h1 {
	text-align: center;
	border-radius: 10rem;
	color: var(--color-black);
	background-color: var(--color-bg3);
	width: 30rem;
	
}

p{
	font-size: 1rem;
}

h3 {
	text-align: center;
	width: max-content;
	border-radius: .5rem;
	color: var(--color-black);
	background-color: var(--color-bg3);

}

section{
	padding-top: 3rem;
	padding-bottom: 0;
}



