/* ========== MAIN CONTAINER ========== */
main {
    margin: 8rem 1rem;
}

main .gallery__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

main .gallery__container>div {
    background: var(--color-white);
    padding: var(--card-padding);
    width: 40rem;
    height: auto;
}

main .gallery__container>div .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

h2 {
    margin-bottom: 2rem;
    text-align: center;
}


/* ========== FORM ========== */


label {
    display: block;
    margin: 1rem 0 1rem;
    text-align: left;
}


form {
    margin: 0 auto;
    max-width: 40rem;
}

input,
.galleryUpload {
    width: 100%;
    padding: 1rem;
    background: var(--color-bg3);
    color: var(--color-black);
    display: block;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #ccc;


}

.galleryPicture {
    display: none;
}

.galleryUpload {
    text-decoration: none;
    text-align: left;
    padding: 0.4rem;
    font-size: 0, 9rem;
}


.list__table {
    display: none;
}

.table {
    border-collapse: collapse;
    width: 100%;
    border: .1rem solid var(--color-black);
}

.table th,
.table td {
    text-align: center;
    padding: .8rem;
}

.table tr {
    border-bottom: .1rem solid var(--color-black);
}

.table tr.header,
.table tr:hover {
    background-color: var(--color-bg5);
}



/* ========== BUTTON ========== */


.btn-primary {
    margin: 1rem auto;
    display: block;
    text-align: center;
}