/* ========== MAIN CONTAINER ========== */
main {
  margin: 5rem 20rem;
  background: var(--color-white);
  padding: var(--card-padding);
  max-width: 40rem;
  width: 90%;
}

.reser__img {
  width: 5rem;
  margin: -3rem 0.5rem 0;
}

h1 {
  text-align: center;
}

label {
  text-decoration: underline;
  display: block;
}

/* ========== FORM ========== */

form {
  margin: 0 auto;
  max-width: 40rem;
  width: 100%;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.form__name {
  display: flex;
  gap: 1rem;
}

.contact__form input[type="text"],
.contact__form select,
.contact__form input[type="email"],
.contact__form input[type="date"],
.contact__form input[type="contact"] {
  width: 100%;
  padding: 0.8rem;
  appearance: none;
  background: var(--color-bg3);
}

.fileupload {
  display: none;
}

.customFileUpload {
  background-color: var(--color-bg3);
  display: inline-block;
  text-align: left;
  width: 100%;
  margin: 0rem 0 1rem;
  padding: 0.5rem 0rem;
  cursor: pointer;
}

.contact__form .btn {
  margin-top: 2rem;
  width: 10rem;
  cursor: pointer;
  background: var(--color-start);
}

.btn-prev {
  margin-left: 4rem;
}

.btn-next {
  margin-left: auto;
  align-self: flex-end;
}

.btn-submit {
  margin-left: 12rem;
}