/* ========== MAIN CSS========== */

.daily__container {
  background: var(--color-white);
  overflow: hidden;
  padding: 4rem;
  height: 50rem;
  width: 70rem;
  margin: 7rem auto;
  border-radius: 1rem;
}

.title{
  text-align: center;
  color: var(--color-black);
}

.daily__container ::-webkit-scrollbar {
  display: none;
}

/* ========== IMAGE  ========== */ 

.slider{
  height: 60%;
  width: 60%;
  margin-left: 12rem;
  margin-top: 2rem;
}

/* ========== ACTIYITY  ========== */ 

.activity {
  text-align: center;
  text-decoration: solid;
  text-decoration-line: underline;
}
.activity__description {
  text-align: center;
}

/* ========== BUTTON  ========== */ 

.prev__btn,
.nxt__btn {
  border: none;
  width: 6rem;
  position: absolute;
  top: 30rem;
  background:none;
  cursor: pointer;
  z-index: 10;
}

.prev__btn {
  left: 20rem;
}

.nxt__btn {
  right: 20rem;
}

.footer__container {
  padding-top: 0rem;
}