/* ========== BODY ========== */


.calendar__container {
  background: var(--color-white);
  padding: 4rem;
  gap: 2rem;
  height: auto;
  width: 70rem;
  margin: 7rem auto;
  display: flex;
  border-radius: 1rem;
  justify-content: center;  

}

/* ========== BUTTON ========== */

button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: var(--color-danger-variant);
  font-size: 26px;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;
}

#header button {
  background-color: black;
}

#container {
  width: 770px;
}

#weekdays {
  width: 100%;
  display: flex;
  color:black
}

#weekdays div {
  width: 6.5rem;
  padding: 1rem;
}

#calendar {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.day {
  width: 100%;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  color:black;
  background-color: var(--color-white);
  box-shadow: 0px 0px 3px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  background-color: var(--color-white);
}

/* #currentDay {
  background-color: var(--color-bg3);
  color: var(--color-white);
} */

.event {
  font-size: 10px;
  padding: 3px;
  height: fit-content;
  background-color: black;
  color: var(--color-white);
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}

.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}

.popup {
  position: absolute;
  margin: 0 -5rem ;
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  z-index: 1;
  text-align:center;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  color: var(--color-danger-variant);
  border: none;
  cursor: pointer;
}