/* ========== TEXT ADJUSTMENTS ========== */

h5{
    text-align: center;
    font-size: 1rem;
    color: var(--color-danger-variant);
    text-decoration: underline;
    margin-top: 1rem;
  }
  

/* ========== FORM CONTAINER ========== */

.form__container {
    background: var(--color-bg3);
    gap: 1rem;
    padding: 4rem;
    width: 50rem;
    height: auto;
    margin: 7rem auto;
    border-radius: 1rem;
}

.admin{
  padding: 1rem;
  line-height: 2rem;
}

.title {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 3rem;
}

form {
    width: 60%;
    margin: auto;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 1rem 0.9rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
  }
  
  .btn {
    width: 100%;
    align-self: center;
    margin-top: 1.4rem;
    cursor: pointer;
    background: var(--color-success);
  }
  
  .parents{
    padding: 1rem;
    line-height: 2rem;
  }

  .title__right {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 3rem;
  }