/* ========== MAIN ========== */
main {
  margin: 8rem 20rem ;
  background: var(--color-white);
  padding: var(--card-padding);
  width: 40rem;

}
h2{
  text-align: center;
  margin-bottom: 2rem;
}

* {
  box-sizing: border-box;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border: .1rem solid var(--color-black);
}

.table th, .table td {
  text-align: center;
  padding: .8rem;
}

.table tr {
  border-bottom: .1rem solid var(--color-black);
}

.table tr.header, .table tr:hover {
  background-color: var(--color-bg5);
}