/* ========== CONTAINER ========== */

.registration__container {
  height: auto;
  width: 50rem;
  background: var(--color-bg3);
  padding: 4rem;
  gap: 2rem;
  margin: 7rem auto;
}

h2 {
  text-align: center;
  text-decoration: underline;
  cursor: default;
  margin-bottom: 5rem;
}

.login {
  text-align: center;
  font-size: 1rem;
  color: var(--color-success);
  text-decoration: underline;
  margin-top: 1rem;
}

/* ========== FORM ========== */

form {
  margin: 0 auto;
  max-width: 40rem;
  width: 100%;
}

.registration__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.name {
  display: flex;
  gap: 1rem;
}

.registration__form input[type="text"],
.registration__form input[type="email"],
.registration__form input[type="password"] {
  width: 100%;
  padding: 0.8rem;
  appearance: none;
  background: var(--color-white);
}

.fileupload {
  display: none;
}

.customFileUpload {
  width: 100%;
  padding: 0.5rem;
  background: white;
  color: var(--color-black);
  display: block;
  height: 3rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #ccc;
  cursor: pointer;
}

.registration__form .btn {
  margin: 2rem 15rem;
  width: 10rem;
  cursor: pointer;
  background: var(--color-start);
}
