/* ========== MAIN CONTAINER ========== */
main {
  margin: 5rem 20rem ;
  background: var(--color-white);
  padding: var(--card-padding);
  width: 40rem;

}


.reser__img{
  width: 5rem;
  margin: -3rem 0.5rem 0 ;
}

h2  {
  text-align: center;
}

label {
  text-decoration: underline;
  display: block;
}

/* ========== FORM ========== */
form {
  margin: 0 auto;
  max-width: 40rem;
}

.contact__form {  
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.form__name {
  display: flex;
  gap: 1rem;
}

.contact__form input[type="text"],
.contact__form input[type="contact"],
.contact__form input[type="file"] {
  width: 100%;
}

input, .pictureUpload{
  width: 100%;
    padding: 1rem;
    background: var(--color-bg3);
    color: var(--color-black);
    display: block;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #ccc;
}

.picture{
  display: none;
}
.pictureUpload {
  text-decoration: none;
  text-align: left;
  padding: 0.4rem;
  font-size: 0,9rem;
}

.contact__form .btn {
  width: 10rem;
  align-self: center;
  margin-top: 1rem;
  cursor: pointer;
  background: var(--color-start);
}
