/* ========== BODY CONTAINER ========== */

.upload__container {
    background: var(--color-bg3);
    padding: 4rem;
    gap: 2rem;
    height: auto;
    width: 45rem;
    margin: 7rem auto;
    border-radius: 1rem;
}

/* ========== UPLOAD CONTAINER ========== */


  .fileupload {
    content: 'Select files';
    display: inline-block;
    align-items: center;
    background: var(--color-white);
    color: var(--color-black);
    margin-left: 9rem;
    border-radius: 1rem;
    padding: 1rem  0rem 1rem 2rem;
    margin-bottom: 0.5rem;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .names{
    text-align: center;
    margin: 1rem 0 2rem ;
  }


  .btn-submit {
    padding-top: 1rem;
    margin-top: 1rem;
    margin-left: 12.5rem;
    background: var(--color-success);
  }